<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright (C) 2026 The 2by2 Project
    SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.felica_droid.felica"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".FelicaService"
        android:allowBackup="false"
        android:directBootAware="true"
        android:label="FelicaService"
        android:persistent="true"
        android:usesCleartextTraffic="false">

        <receiver
            android:name=".BootCompletedReceiver"
            android:directBootAware="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
